/* metodo aplicar color css */
h3{
    color: aqua;
}
/* fin metodo aplicar color css */

/* id */
#encabezado{
    color: blue;

    /* alinear al centro */
    text-align: center;

    /* manipular fuente */
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* clases */
.encabezadoClass{
    color: blueviolet;
}

/* añadir colores a atributos */

li,ul{
    color: darkred;
}

/* redimensionar imagen */
img {
    height: 100px;
    width: 100px;
}

/* crear contenedor, añadir color */
.contenedor{
    border:solid blue;
    /* alinear elementos */
    display: flex;
    /* centrar elementos */
    justify-content:space-between;
    height: 500px;
    align-items: center;
    /* margen dentro del contenedor  */
    padding: 20%;
    margin: 20px;
}